@import './variables';
$test : 3;

.contact-page{
    background-color: $yellow;
    padding-bottom: 30em;
    border-radius: 8px;
}

.contact-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-left: 10em;
    padding-right: 10em;
}

.contact-text{
    font-size: 72px;
}

.button-right{
    margin-left: 2em;
}
.button-left{
    margin-right: 2em;
}
