@import './variables';
$test : 3;

.contact-page{
    background-color: $yellow;
    padding-bottom: 30em;
    border-radius: 0 0 8px 8px;
}

.contact-container{
    display: flex;
    flex-flow: column wrap;
    padding-left: 10em;
    padding-right: 10em;
}

.contact-text{
    font-size: 72px;
}

