@import './variables';

@mixin colorBG($background){
    background-color: $background;
}

body {
    margin: 2em;
    background-color: $white;
}

.navtext{
    font-family: 'Atkinson-Hyperledgible-Regular';
    font-weight: 100;
    color: $white;
    font-size: 30px;
    align-items: center;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: -1em;
}

ul {
    list-style-type: none;
}

.navHeader{
    font-family: "Pridi";
    font-size: 36px;
}

.navSpacerS {
    padding-left: 5em;
    padding-right: 5em;
}

.nav-choices{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 2em;
}

.navbar__item{
    margin-left: 2em;
    margin-right: 2em;
}

a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }