.contact-page{
    background-color: #FAC45A;
}

.contact-container{
    display: flex;
    flex-flow: column wrap;
    padding-left: 10em;
    padding-right: 10em;
}

.contact-text{
    font-size: 72px;
}

